.panel
  %h3 Projects
  
  %a{"ng-href" => "#/projects/new"}
    .btn.btn-default  
      New
  .pull-left
    %input{type: "text", "ng-model" => "search", class: "form-control", placeholder: "Search"}
  %table.table
    %tr
      %th Name
      %th URL
      %th Power
      %th Edit
    %tbody{"ng-repeat" => "project in projects | filter:search | orderBy: 'name'"}
      %tr
        %td {{project.name}}
        %td {{project.url}}
        %td {{project.power}}
        %td 
          %a{"ng-href" => "#/projects/edit/{{project.id}}"} click me
            