%table.table{"ng-controller" => "MainController as main"}
  %tr
    %th Name
    %th URL
    %th Power
    %th Edit
  .list{"ng-repeat" => "project in main.projects"}
    %tr
      %td
        {{project.name}}
      %td
        {{project.url}}
      %td
        {{project.power}}  