- content_for :morecss do 
  = stylesheet_link_tag "demographic"
.row
  .col-md-6
    .d3
      %svg#tw-map
.clearfix      

.row
  .col-md-9  
    .isotope 
      - (0..0).each do |i|
        .col-md-4
          .mediafield.isotopeitem{style: "min-width: 100px; max-width: 300px; width: 100%; "}
            .mosaic-block.mosaic
              .tag 新北市
              .mosaic-backdrop
                .corner 2015/3/8
                = image_tag("page1.jpg", style: "height: 100%;")
                .media
                  .media-left
                  .media-body
                    %h4 Run for Good 每周五公里
                    .btn-list
                      .btn.btn-primary 查看詳情
                      .btn.btn-success 我要參加          
          
  .col-md-3
    = render "search_list"
:javascript
  $(document).ready(function(){
  

    $(window).load(function(){
      d3.json("twgeo.json", function(error, data){
        topo = topojson.feature(data, data.objects["twCounty2010.geo"]);
        prj = d3.geo.mercator().center([120.979531, 23.978567]).scale(50000);
        path = d3.geo.path().projection(prj);
        locks = d3.select("svg#tw-map").selectAll("path").data(topo.features).enter().append("path").attr("d", path)
        .style("stroke", "purple")
        .attr("id", function(d){return d.properties.COUNTYSN})
        .on("click", countyclick);
        for(i = 0; i < topo.features.length; i ++ ) {
          topo.features[i].properties.value = Math.random()*1000000;
          console.log(topo.features[i].properties.value);
        }
        colorMap = d3.scale.linear().domain([0, 500000]).range(["#000","#f00"]);
        locks.attr("fill", function(it){
          return colorMap(it.properties.value);
        });
        
        function countyclick(d){
          alert(JSON.stringify(d.properties.COUNTYNAME));
        }
      });
      $(".mosaic").mosaic({opacity: 0.7});
    });
    
  });
  ///REFERENCE:
  ///http://www.tnoda.com/blog/2013-12-07
  ///http://www.larsko.org/v/igdp/
  ///http://www.toptal.com/javascript/a-map-to-perfection-using-d3-js-to-make-beautiful-web-maps