.row
  .col-md-8
    .d3
      %svg#tw-map

:css
  #tw-map{
    height: 960px;
    width: 800px;
  } 
  path{
    stroke-width: 0.5px;
  } 
:javascript
  $(document).ready(function(){
    d3.json("twgeo.json", function(error, data){
      topo = topojson.feature(data, data.objects["twCounty2010.geo"]);
      prj = d3.geo.mercator().center([120.979531, 23.978567]).scale(50000);

      path = d3.geo.path().projection(prj);
      alert(JSON.stringify(topo))
      locks = d3.select("svg#tw-map").selectAll("path").data(topo.features).enter().append("path").attr("d", path)
      .style("stroke", "purple")
      .attr("id", function(d){return d.properties.COUNTYSN})
      .on("click", countyclick);
      for(i = 0; i < topo.features.length; i ++ ) {
        topo.features[i].properties.value = Math.random()*1000000;
        console.log(topo.features[i].properties.value);
      }
      colorMap = d3.scale.linear().domain([0, 500000]).range(["#000","#f00"]);
      locks.attr("fill", function(it){
        return colorMap(it.properties.value);
      });
      
      function countyclick(d){
        alert(JSON.stringify(d.properties.COUNTYNAME));
      }
    });


    
  });
  ///REFERENCE:
  ///http://www.tnoda.com/blog/2013-12-07
  ///http://www.larsko.org/v/igdp/
  ///http://www.toptal.com/javascript/a-map-to-perfection-using-d3-js-to-make-beautiful-web-maps